apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app
  namespace: my-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: my-app
        image: 286119371104.dkr.ecr.ap-south-1.amazonaws.com/vishnukrajan007/app-gitops-2026:v0.1.1
        ports:
        - containerPort: 8080
